### Gradle ###
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/**/out/

.run/

### Eclipse ###
.apt_generated
.classpath
.eclipse/
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/**/bin/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Minecraft Modding ###
run/
run2/
# Ignore the dev server's generated state but keep its properties in the repo: a parent
# directory that is excluded outright can't have files re-included, hence runServer/* here.
runServer/*
!runServer/server.properties
!**/src/**/run/
**/src/generated/**/.cache/
repo/
!**/src/**/repo/
